<br>
<br>
<br>
<footer>
    <div class="container">
        <div class="row" style="background-color:#FFE1FF">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    </li>
                    <li>
                        Site Map
                    </li>
                    <li>
                    Privacy Policy
                    </li>
                    <li>
                    Terms & Conditions                    
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright 1492</p>
            </div>
        </div>
    </div>
</footer>