<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h4>Premier Lotteries Ireland</h4>

			Premier Lotteries Ireland (PLI) is the new operator of the Irish National Lottery. PLI was awarded a twenty year licence to operate the National Lottery by the Irish Government in November 2014. The staff and management of the previous operator, An Post National Lottery Company, including CEO Dermot Griffin, transferred to PLI, ensuring continuity of service and collectively have over 50 years’ experience in managing Ireland’s National Lottery. 
			<br> 
			<br>
			OTPP, An Post and An Post Pension Funds 
			<br>
			The shareholders of PLI are Ontario Teachers’ Pension Plan (OTPP), An Post and An Post Pension Funds. OTPP has a successful track record in the lottery industry through its shareholdings in the Camelot Group, which includes UK National Lottery operator Camelot UK Lotteries Limited. An Post successfully operated the Irish National Lottery since its creation in 1986.
			<br> 
			<br>
			With C$140.8 billion in net assets, OTPP is the largest single-profession pension plan in Canada and is an independent organisation that invests the pension fund's assets and administers the defined benefit pensions of 307,000 active and retired teachers in Ontario. OTPP is also the owner of Camelot Global which provides consultancy and management services to lotteries worldwide. 
			</p>
        </div>
    </div>
</div>
