    <!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        	<h2>General Queries:</h2>
			If you have a general query or complaint please contact us at:
			<br> 
			National Lottery
			<br> 
			Abbey Street Lower
			<br> 
			Dublin 1
			<br>
			Telephone: (01) 836 4444
			<br>
			<br>
		</div>
	</div>
	<div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<h3 class="text-­primary">How to contact us.</h3>
				<p>If your query or complaint relates to playing Lottery Games online please call the online support team.</p>
				<br>
				Tel online support: 1890 244 344
				
				Email online support: support@lottery.ie. 
				
				Our office hours are from 9:30am to 8pm, Monday to Saturday.
				<br> 
			</div>
   <div class="row">
     <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
     			<br>
				<h4 class="text-­primary">Don't hesitate. We appreciate constructive criticism.</h4>
				</div>
			</div>
	  </div>
 </div>
</div>

