    <!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        	<h2>General Queries:</h2>
			If you have a general query or complaint please contact us at:
			<br> 
			Railers
			<br> 
			123 Fake Street
			<br> 
			Dublin 1
			<br>
			Telephone: 1111 444444
			<br>
			<br>
		</div>
	</div>
	<div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<h3 class="text-­primary">How to contact us.</h3>
          Telephone: 1111 444444
          <br>
          Email: fake@fake.com
				<br> 
			</div>
   <div class="row">
     <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
     			<br>
				<h4 class="text-­primary">Don't hesitate. We appreciate constructive criticism.</h4>
				</div>
			</div>
	  </div>
 </div>
</div>

