<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<h2 class="text-­primary">Welcome to retailers portal store managers.</h2><p>
			Login if you are already approved and registered. Otherwise fill out our registration form and we will confirm you through your manager id. You can view your sales via the dynamic dashboard which displays a graph of each lottery sale type as well as tables of data.<p>
			</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<h3 class="text-­primary">Have a look around and see our tools for helping you increase sales.</h3><p>
			Our stategic OEM system follows dynamically all agents throughout the continent on a regular basis, sometimes even more. By simply registering you will add much synergy to your business.<p>
			</div>
		 </div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<h4 class="text-­primary">Just click the Register button above and you'll be approved shortly.</h4><p>
			Then you will have access to all your analytical sales data we have on file.<p>
			</div>
		 </div>
	</div>
</div>