<div class="container">
  <div class="row">
     <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
     <br>
     <br>
      <h2 class="text-­primary">Sorry you are not yet approved</h2>
      <p>Hang in there we will approve you shortly, you will be notified by email.</p>
      <br>
      <br>
    </div>
  </div>
</div>