<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h4>Thanks for registering, we will notify you by email when our system approves you.</h4>
        </div>
    </div>
</div>
<br>
<br>